{% extends 'user/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			My Booking
		</h2>
	</section>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">


                                 <th class="success" style="color: white;">Sattion  Name</th>

                                  <th class="success" style="color: white;">Phone Number</th>
                                  <th class="success" style="color: white;">Email</th>
                                       <th class="success" style="color: white;">Quantity</th>
                                       <th class="success" style="color: white;">Payment Status</th>
                                       <th class="success" style="color: white;">Cancel Order</th>

     {% for i in ch  %}
                                <tr style="background-color:white;width: 700px;">

                                    <td>{{ i.station.station.first_name }}</td>
                                    <td>{{ i.station.phone }}</td>

                                    <td>{{ i.station.station.email }}</td>

                                    <td>{{ i.quantity }}</td>

                                      <td>{{ i.payment }}</td>
                                      <td><button ><a href="{% url 'cancel' i.id %}" class=" btn btn-danger" >Cancel Order</a></button></td>

                                    <td><button ><a href="{% url 'payment' i.id %}" class=" btn btn-success" >Payment</a></button></td>

                                </tr>


              {% endfor %}



                            </table>
      <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

  {% endblock %}