{% extends 'station/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<h2 class="ltext-105 cl0 txt-center">
			View Booking
		</h2>
	</section>
 <table class="table table-bordered table-striped table-hover" style="background-color: #002633;margin-top:50px">


                                 <th class="success" style="color: white;">User Name</th>

                                  <th class="success" style="color: white;">Phone Number</th>
                                  <th class="success" style="color: white;">Email</th>
                                       <th class="success" style="color: white;">Status</th>
                                       <th class="success" style="color: white;">Payment Status</th>
                                       <th class="success" style="color: white;">Add Status</th>

     {% for i in ch  %}
                                <tr style="background-color:white;width: 700px;">

                                    <td>{{ i.user.user.first_name }}</td>
                                    <td>{{ i.user.phone }}</td>

                                    <td>{{ i.user.user.email }}</td>
                                    <td>{{ i.status }}</td>

                                      <td>{{ i.payment }}</td>
                                      <form action="#" method="post">
                                        {% csrf_token %}
                                
                                    <td><textarea name="reply" placeholder="reply" > </textarea>
                                        <input type="hidden" name="id" value="{{ i.id }}"><button type="submit" class=" btn btn-success">Send</button></td></form>  
                                      <td>

                                </tr>


              {% endfor %}



                            </table>
      <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>

  {% endblock %}